<mat-toolbar >
    <mat-toolbar-row class="mat-elevation-z8 main-toolbar">
        <div style="display: flex;width: 55%;justify-content: flex-end;">
            <img src="assets/r.png" alt="Logo" sizes="5px" style="width: 40px; height: 40px;border-radius: 16px;margin-right: 10px;">
            <span mat-button>Community-Hub</span>
        </div>
        <button mat-raised-button color="primary" *ngIf="!authService.userDetails.accessToken" (click)="login()">Sign In</button>
    </mat-toolbar-row>
    <mat-toolbar-row class="mat-elevation-z8 sub-toolbar" *ngIf="authService.userDetails.accessToken">
        <div style="display: flex;width: 100%;justify-content: center;">
            <a routerLink="/dashboard" routerLinkActive="active" mat-button>Dashboard</a>
            <a routerLink="/cash-reciept" routerLinkActive="active" mat-button><span class="custom-verticalbar">|</span>Cash Reciept Window</a>
            <button mat-button [matMenuTriggerFor]="familyMenu" [class.active]="isFamilyRouteActive()" style="font-size: 17px;">
                <span class="custom-verticalbar">|</span>Family
            </button>
            <mat-menu #familyMenu="matMenu">
                <a routerLink="/search-family" routerLinkActive="active" mat-menu-item>Family Search</a>
                <a routerLink="/view-family" routerLinkActive="active" mat-menu-item>Family View</a>
                <a routerLink="/create-family" routerLinkActive="active" mat-menu-item>Create Family</a>
            </mat-menu>
            <!-- <a routerLink="/search-family" routerLinkActive="active" mat-button><span class="custom-verticalbar">|</span>Family Search</a>
            <a routerLink="/view-family" routerLinkActive="active" mat-button><span class="custom-verticalbar">|</span>Family View</a>
            <a routerLink="/create-family" routerLinkActive="active" mat-button><span class="custom-verticalbar">|</span>Create Family</a> -->
            <a routerLink="/txns-register" routerLinkActive="active" mat-button><span class="custom-verticalbar">|</span>Txns Register</a>
            <a routerLink="/txn-creation" routerLinkActive="active" mat-button><span class="custom-verticalbar">|</span>Txn Creation</a>
            <a routerLink="/txn-approvals" routerLinkActive="active" mat-button><span class="custom-verticalbar">|</span>Txn Approvals</a>
            <a routerLink="/config-master" routerLinkActive="active" mat-button *ngIf="configVisible()"><span class="custom-verticalbar">|</span>Configuration</a>
        </div>
        <button mat-raised-button color="accent" (click)="logout()">Log out</button>
    </mat-toolbar-row>
</mat-toolbar>

