<div class="container" style="width: 400px;">
    <mat-card >
        <mat-card-title class="mt-4 mb-4" style="color: #3f51b5;">Sign In</mat-card-title>
        <mat-card-content>
            <form>
                    <mat-form-field class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" name="useremail" placeholder="example@gmail.com" [(ngModel)]="loginRequest.email">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" name="userpassword" placeholder="*****" [(ngModel)]="loginRequest.password">
                    </mat-form-field>
                <div class="button mt-4 mb-4" >
                    <button mat-raised-button color="primary" style="width: 100%;" (click)="login()">Login</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>